## Scikit-learn(sklearn)
널리 사용되는, Machine learning 관련 Python 라이브러리 및 모듈 중 하나이다.

실제 Python 코드에서 sklearn 이름으로 라이브러리를 import하기 때문에, 줄여서 “sklearn”이라고도 부른다.

다양한 Machine learning 알고리즘들을 포함하고 있다.

선형 회귀Linear Regression

결정 트리Decision Tree

랜덤 포레스트Random Forest 등

스크래핑을 위해 파이썬에서 사용하는 모듈 Beautiful Soup

### 시각화   
이상치, 평균치, 중간값, 사분위값, IQR(Inter Quartile Range) 등을 함께 보여주는것은 boxplot 그래프

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series
from numpy.random import randn
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [18]:
data = {1,2,3,4,5}
avg = int(sum(data)/len(data))
avg

#1, 1, 2, 3, 4, 6, 18 평균, 중앙값, 최빈값

3

In [19]:
def my_func (x, y=100):
   return (x**2 + y)

a = my_func(5)
b = my_func(5, 10)
print(a)
print(b)

125
35

In [20]:
dic = {"city":["서울","부산","대전","대구","광주"],     # dictionary
       "year":[2017,2017,2018,2018,2018],
      "temp":[18,20,19,21,20]}
data = pd.DataFrame(dic)
data
print(type(dic))

<class 'dict'>

In [21]:
cars = [50,40,20,30,10]
data["car"]= cars
data

  city  year  temp  car
0   서울  2017    18   50
1   부산  2017    20   40
2   대전  2018    19   20
3   대구  2018    21   30
4   광주  2018    20   10

In [22]:
data.value_counts("temp") #데이터 프레임의 특정열에 대해 빈도수 #value_counts

temp
20    2
18    1
19    1
21    1
dtype: int64

In [25]:
data.drop("car",1) # 삭제 #drop

C:\Users\JooN\AppData\Local\Temp/ipykernel_24856/4245886648.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop("car",1) # 삭제 #drop

  city  year  temp
0   서울  2017    18
1   부산  2017    20
2   대전  2018    19
3   대구  2018    21
4   광주  2018    20

In [ ]:
data.iloc[:,2]

In [ ]:
food = {'banana': 'Delicious', 'dirt': 'Do not eat.'}
print(food)
print(food["banana"]) #딕셔너리값

from pandas

In [ ]:
num = 9
if num % 2:
    print("Y")  #짝
else:
    print("N")  #홀

In [ ]:
list1 = [1,2,10] #  리스트
list2 = [4,5,11]
print(list1+list2)

In [ ]:
arr1 = np.array(list1)  #  넘파이 어레이
arr2 = np.array(list2)
print(arr1+arr2)

In [26]:
frame = DataFrame({'X':['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'], 
                  'Y':['f', 'g', 'd', 'g', 'h', 'e', 'd', 'h', 'f'],
                   'Z':['a', 'e', 'd', 'g', 'd', 'e', 'q', 'b', 'c']})
frame
frame.apply(lambda s: s.value_counts())
result = frame.apply(pd.value_counts)
result

     X    Y    Z
a  3.0  NaN  1.0
b  2.0  NaN  1.0
c  3.0  NaN  1.0
d  1.0  2.0  2.0
e  NaN  1.0  2.0
f  NaN  2.0  NaN
g  NaN  2.0  1.0
h  NaN  2.0  NaN
q  NaN  NaN  1.0

In [27]:
result = frame.apply(pd.value_counts).fillna(0) ## fillna 은 fill NaN을 뜻한다.
result

     X    Y    Z
a  3.0  0.0  1.0
b  2.0  0.0  1.0
c  3.0  0.0  1.0
d  1.0  2.0  2.0
e  0.0  1.0  2.0
f  0.0  2.0  0.0
g  0.0  2.0  1.0
h  0.0  2.0  0.0
q  0.0  0.0  1.0

In [ ]:
data = np.arange(12).reshape(4,3) #4x3행렬
print(data)
data[data<5] = 0
data

In [34]:
import numpy as np

data = np.array([[11,22,33],
                    [44,55,66],
                    [77,88,99]])
#print(data)
X, y = data[:, :-1], data[:,1:2]
print(X); print(y)

[[11 22]
 [44 55]
 [77 88]]
[[22]
 [55]
 [88]]

In [ ]:
frame = DataFrame({'b':[4,7,3,2],'a':[4,9,2,5]},'c':[])
iloc와 loc차이