## Scikit-learn(sklearn)
널리 사용되는, Machine learning 관련 Python 라이브러리 및 모듈 중 하나이다.

실제 Python 코드에서 sklearn 이름으로 라이브러리를 import하기 때문에, 줄여서 “sklearn”이라고도 부른다.

다양한 Machine learning 알고리즘들을 포함하고 있다.

선형 회귀Linear Regression

결정 트리Decision Tree

랜덤 포레스트Random Forest 등

### 시각화   
이상치, 평균치, 중간값, 사분위값, IQR(Inter Quartile Range) 등을 함께 보여주는것은 boxplot 그래프

In [47]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series
from numpy.random import randn
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [48]:
data = {1,2,3,4,5}
avg = int(sum(data)/len(data))
avg

3

In [49]:
dic = {"city":["서울","부산","대전","대구","광주"],     # dictionary
       "year":[2017,2017,2018,2018,2018],
      "temp":[18,20,19,21,20]}
data = pd.DataFrame(dic)
data
print(type(dic))

<class 'dict'>

In [50]:
cars = [50,40,20,30,10]
data["car"]= cars
data

  city  year  temp  car
0   서울  2017    18   50
1   부산  2017    20   40
2   대전  2018    19   20
3   대구  2018    21   30
4   광주  2018    20   10

In [51]:
data.value_counts("temp") #데이터 프레임의 특정열에 대해 빈도수 #value_counts

temp
20    2
18    1
19    1
21    1
dtype: int64

In [52]:
data.drop("car",1) # 삭제 #drop

C:\Users\JooN\AppData\Local\Temp/ipykernel_2744/4245886648.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop("car",1) # 삭제 #drop

  city  year  temp
0   서울  2017    18
1   부산  2017    20
2   대전  2018    19
3   대구  2018    21
4   광주  2018    20

In [55]:
data.iloc[:,2]

0    18
1    20
2    19
3    21
4    20
Name: temp, dtype: int64

In [59]:
food = {'banana': 'Delicious', 'dirt': 'Do not eat.'}
print(food)
print(food["banana"]) #딕셔너리값

{'banana': 'Delicious', 'dirt': 'Do not eat.'}
Delicious

from pandas

In [ ]:
num = 23
if num % 2==0:
    print("짝수")
else:
    print("홀수")